*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/*
/app/src/main/java/com/sdp13epfl2021/projmag/notification/Constant.kt
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
