<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdp13epfl2021.projmag">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ProjmagApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projmag">
        <activity android:name=".activities.OrientationActivity" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:parentActivityName=".activities.ProjectsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.QRCodeActivity" />
        <activity android:name=".activities.UserTypeChoice" />
        <activity
            android:name=".curriculumvitae.VideoCv"
            android:parentActivityName=".activities.ProfilePageActivity" />
        <activity android:name=".activities.SectionSelectionActivity" />
        <activity android:name=".activities.TagsSelectorActivity" />
        <activity
            android:name=".activities.ProfilePageActivity"
            android:parentActivityName=".activities.ProjectsListActivity" />
        <activity
            android:name=".activities.VideoSubtitlingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CVCreationActivity"
            android:parentActivityName=".activities.ProfilePageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ProjectInformationActivity"
            android:parentActivityName=".activities.ProjectsListActivity" />
        <activity android:name=".activities.WaitingListActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity
            android:name=".activities.ProjectCreationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ProjectsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>